
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
  }
}

#video-background {
    /*  making the video fullscreen  */
    position: absolute;
    right: 0px;
    bottom: -10px;
    /*min-width: 50px;
    min-height: 50px;*/
    width: auto;
    height: auto;
    z-index: -100;
}

header.head {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: 100% 100%;
   -o-background-size: cover;
 }

header.head>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.head>.overlay {
    padding: 17.5rem 0;
  }
}

header.abouthead {
  background: url('../media/bg.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  -o-background-size: cover;
}

header.abouthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.abouthead>.overlay {
    padding: 10rem 0;
  }
}
