
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

header.head {
  background: url('../media/bg.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  -o-background-size: cover;
}

header.head>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.head>.overlay {
    padding: 16rem 0;
  }
}
